*::after,::before{

margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    margin: 0 100px;
    background-color: bisque;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.nav .logo h1{
    font-weight: 600;
    font-size: 80px;
    font-family: sans-serif;
    color: orangered;
}

.content{
    display: grid;
    grid-template-columns: 50% auto;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.content .content-left{
    display: block;
    width: 100%;

}


.content .content-left.info{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}


.content .content-left .info h1{
    font-size: 60px;
    font-family: sans-serif;
    margin-bottom: 30px;

}


.content .content-left .info p{
    font-size: 32px;
    line-height: 2pc;
    margin-bottom: 30px;
    font-family: sans-serif;
}

.content .content-left button{
    padding: 10px 23px;
    background-color: orangered;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


.content .content-right{
    display: block;
    width: 100%;
}
.content .content-right img{
    width: 400px;
    height: auto;
    position: relative;
    user-select: none;
    animation: rotate 10s linear infinite;
    border-radius: 50rem;
}


@keyframes  rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}


.category{
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;

}


.category.list{
    width: 90%;
    position: relative;
    margin-top: 100px;
}


.category.list h3{
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 70px;
}


.category.list .card-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.category.card-list.card{
    width:700px;
    height: auto;
    display: block;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    background: white;
    outline: 2px solid #faad96;
}


.category.card-list.card img{
    width: 250px;
    height: auto;
    bottom: 140px;
    left: 50px;
    object-fit: cover;
    background-repeat: no-repeat;
    position: absolute;
    box-shadow: 0 20px  20px  #faad96;
    border: 50%;
}


.category.card-list.card .food-title h1{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    font-family: sans-serif;
}

/* 9989343894893438738 */

.menu-items{
    display: grid;
    grid-template-columns: repeat(4,250px);
    column-gap: 60px; 
    row-gap: 60px;
}
.card{
    width: 200px;
    height: auto;
}

.card img{
    width: 100px;
    height: auto;
    border-radius: 50%;
}