*::after,::before{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body{
        margin: 0 100px;
        background-color: bisque;
        background-blend-mode: darken;
    }
    
    .nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
    }
    
    .nav .logo h1{
        font-weight: 600;
        font-size: 50px;
        font-family: sans-serif;
        color: orangered;
    }
    
.menu-items{
     display: grid;
    grid-template-columns: repeat(4,250px);
    column-gap: 210px; 
    row-gap: 200px;
}
.card{
    width: 200px;
    height: 50%;
}

.card img{
    width: 400px;
   height
    border-radius: 1rem;
}